# This .gitignore file should be placed at the root of your Unity project directory

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.dll
*.exe
*.pdf
*.mid
*.midi
*.psd
*.tga
*.jpg
*.png
*.mp3
*.ogg
*.wav
*.zip
*.7z
*.rar
*.apk
*.aab
